
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="subhamjit.sls.ai">


	<uses-permission android:name="android.permission.INTERNET" />

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />


	<application
		android:allowBackup="true"
		android:label="SLS"
		android:icon="@drawable/microphone"
		android:largeHeap="true"
		android:usesCleartextTraffic="true"
		android:theme="@style/AppTheme">



		<activity

			android:name="subhamjit.sls.ai.activitys.MainActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/Theme.AppCompat.Light.NoActionBar"
			android:screenOrientation="portrait"
			android:exported="true">



		</activity>

		<activity
			android:name="subhamjit.sls.ai.activitys.EnglishActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/Theme.AppCompat.Light.NoActionBar"
			android:screenOrientation="portrait"
			android:exported="true"/>

		<activity
			android:name="subhamjit.sls.ai.activitys.OdiaActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/Theme.AppCompat.Light.NoActionBar"
			android:screenOrientation="portrait"
			android:exported="true"/>


		<activity
			android:name="subhamjit.sls.ai.activitys.SplashActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/Theme.AppCompat.Light.NoActionBar"
			android:screenOrientation="portrait"
			android:exported="true">


			<intent-filter>

				<action	android:name="android.intent.action.MAIN"/>
				<category	android:name="android.intent.category.LAUNCHER"/>

			</intent-filter>

		</activity>

		<activity
			android:name="subhamjit.sls.ai.activitys.SubjectActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/Theme.AppCompat.Light.NoActionBar"
			android:screenOrientation="portrait"
			android:exported="true"/>

		<activity
			android:name="subhamjit.sls.ai.activitys.MainActivity2"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/Theme.AppCompat.Light.NoActionBar"
			android:screenOrientation="portrait"
			android:exported="true"/>


		<activity
			android:name="subhamjit.sls.ai.activitys.SubjectDetailsActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/Theme.AppCompat.Light.NoActionBar"
			android:screenOrientation="portrait"
			android:exported="true"/>







		<uses-library
			android:name="org.apache.http.legacy"
			android:required="false"/>
	</application>




</manifest>
